videos/*            linguist-detectable=false
core/**/*.ts            linguist-detectable=false
core/**/*.tsx            linguist-detectable=false
**/*.ts            linguist-detectable=false
**/*.tsx            linguist-detectable=false
videos/demo/**/*.ts            linguist-detectable=true